.profileContainer{
  width: 100%;
  height: 100%;
  position: relative;
}

.profileContent{
  width: 70vw;
  height: 90vh;
  display: flex;
  flex-direction: row;

  .profileItem{
    margin:0.5vw;
    flex: 1;
    border-right:1px solid #00c990;
    font-family: Roboto;
  }
  
  .profileItem--title{
    font-weight: 700;
    color: #000;
  }

  .decorativeDivider{
    height: .1vw;
    background-color: #00c990;
    margin: .5vw 10%;
  }
  
  .academics, .skills{
    display: grid;
    grid-gap: .5vw;
  }

  .institute, .areaDomain{
    font-weight: 500;
  }

  .description{
    font-weight: 300;
  }

  .modelObject{
    margin-bottom: 1vw;
  }
  
  .institute{
    color: #00AB7A;
  } 

  .areaDomain{
    color: #00c990;
  }

}






