  <div class="menuContainer">
    <div class="menuContent verticalAlign">
      <div class="menuContent--photo">
        <div class="photoObject"></div>
      </div>
      <div class="menuContent--items">
        <div class="menuItem">Lorem ipsum dolor sit</div>
        <div class="menuItem">Lorem ipsum dolor sit</div>
        <div class="menuItem">Lorem ipsum dolor sit</div>
        <div class="menuItem">Lorem ipsum dolor sit</div>
        <div class="menuItem">Lorem ipsum dolor sit</div>
      </div>

      <div class="menuContent--actions">
        <div class="btn-medium btn--border verticalAlign"> Converse comigo</div>
      </div>

    </div>
  </div>