  <div class="profileContainer">
    <div class="profileContent verticalAlign">
      <div class="profileItem academics">

        <div class="profileItem--academics">
          <div class="profileItem--title">| Vida Acadêmica</div>
<div class="decorativeDivider"></div>
          <div class="profileItem--content">
            <ul>
              <li>Universidade Federal de Viçosa</li>
              <li>Universidade Metodista de São Paulo</li>
            </ul>
          </div>
        </div>

        <div class= profileItem--complementary">
          <div class="profileItem--title">| Cursos Complementares</div>
          <div class="decorativeDivider"></div>
          <div class="profileItem--content">
            <ul>
              <li>Estação Hack</li>
              <li>Origamid</li>
              <li>Udemy</li>
            </ul>
          </div>
        </div>      
      </div>
      <div class="profileItem">
          <div class="profileItem--experience">
          <div class="profileItem--title">| Experiências Profissionais</div>
          <div class="decorativeDivider"></div>
          <div class="profileItem--content">
            <ul>
              <li>DKS</li>
              <li>Citel</li>
              <li>RCV</li>
              <li>ClapMe</li>
              <li>ExpertVoice</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="profileItem skills">
        <div class="profileItem--skills">
          <div class="profileItem--title">| Skills</div>
          <div class="decorativeDivider"></div>
          <div class="profileItem--content">
            <ul>
              <li>Ruby on Rails</li>
              <li>HTML 5</li>
              <li>CSS 3</li>
              <li>Javascript</li>
              <li>SASS</li>
              <li>Bootstrap</li>
              <li>ReactJs</li>
              <li>ReactNative</li>
              <li>Kotlin</li>
              <li>PostgreSQL</li>
              <li>MySQL</li>
              <li>MongoDB</li>
              <li>Redis</li>
            </ul>
          </div>
        </div>
        <div class="profileItem--languages">
          <div class="profileItem--title">| Idiomas</div>
          <div class="decorativeDivider"></div>
          <div class="profileItem--content">
            <ul>
              <li>Espanhol</li>
              <li>Inglês</li>
              <li>Português</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>