body{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.verticalAlign{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0; 
  right: 0;
  margin: auto;
}

.btn-medium{
  height: 6vh;
  width: 13vw;
  box-sizing: border-box;
}

.btn--border{
  border: solid 1px #00c990;
  border-radius: 2vw;
}

.text-large{
  font-size: 2vw;
}

.text-medium{
  font-size:1.6vw;
}

.text-small{
  font-size: 1.2vw;
}

.text-extraSmall{
  font-size: .8vw;
}